.input-group {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.input-group input,
.input-group select {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
